<main>
  <section class="books">
    <div class="container">
      <aside class="books-sidebar sidebar">
        <h2 class="sidebar-title">Books</h2>
        <ul class="sidebar-list js-categories">
          <!-- <li class="sidebar-item">
            <button class="sidebar-btn" type="button">All categories</button>
          </li> -->
        </ul>
      </aside>
      <div class="books-list js-books">
        <!-- <article class="book-item">
          <div class="books-item-cover">
            <img
              class="books-item-ill"
              src="../img/img/1/img.png"
              alt="books-cover"
            />
          </div>
          <div class="books-item-body">
            <h3 class="books-item-title">I will find you</h3>
            <p class="books-item-descr">Harlan Coben</p>
            <p class="books-item-price">$15</p>
          </div>
          <button class="books-item-btn" type="button">Learn More</button>
        </article> -->
      </div>
    </div>
  </section>
</main>
